@import 'https://fonts.googleapis.com/css?family=Quicksand|Raleway|Major+Mono+Display'
@require 'colors'

*
    margin 0
    padding 0
    font-family 'Major Mono Display', sans-serif
    letter-spacing 1px
    text-transform lowercase

body,html
    background-color $gray
    height 100%
    color $white
    
::selection
    background-color alpha($pink, 0.1)
    color $pink
            
#main
    height 100%
    width 100%
    box-sizing border-box
    padding-top 30px

input,button
    outline none
    border none
    background none
    width 100%
    box-sizing border-box
    font-size 20px
    padding 20px
    color $white
    background-color transparent

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
    -webkit-appearance none
    margin 0

@require 'components/*'