@import 'https://fonts.googleapis.com/css?family=Quicksand|Raleway'
@require 'colors'

*
    margin 0
    padding 0
    font-family 'Quicksand', sans-serif
    letter-spacing 1px

body,html
    background-color $black
    height 100%
    color $white
            
#main
    height 100%
    width 100%
    box-sizing border-box
    padding-top 30px

input,button
    outline none
    border none
    background none
    width 100%
    box-sizing border-box
    font-size 20px
    padding 20px
    color $white
    background-color transparent

@require 'components/*'