@import 'https://fonts.googleapis.com/css?family=Quicksand'
@require 'colors'

*  
    margin 0
    padding 0
    font-family Quicksand, sans-serif
    letter-spacing 0.2px

body,html
    background-color $black
    height 100%
    color white


#title-bar
    height 40px
    -webkit-app-region drag
    position absolute
    top 0
    right 0
    width 100vw
    div
        width 40px
        height 30px
        box-sizing border-box
        float right
        display flex
        align-items center
        justify-content center
        pointer-events auto
        -webkit-app-region no-drag

        span 
            display inline-block
            position absolute
            height 15px
            pointer-events none
            width 1px
            background-color alpha($white,0.8)

        &:hover
            background $white
            & span
                background-color alpha($black,0.8)

    #tb-exit span
        transform rotate(45deg)
        width 1px
        background-color $white
        height 15px
        &:nth-of-type(1)
            transform rotate(-45deg)

    #tb-exit:hover
        background $pink

    #tb-max span
        width 10px
        height 10px
        background-color transparent
        border 1px solid alpha($white,0.8)

    #tb-max:hover
        & span
            border 1px solid alpha($black,0.8)
    
    #tb-min span 
        transform rotate(90deg)
            
#main
    height 100%
    width 100%
    padding-top 30px
    box-sizing border-box

#ports
    width 100%
    height calc(100% - 60px)
    display flex
    justify-content center
    align-items baseline
    flex-wrap wrap
    padding 20px
    box-sizing border-box

    .port
        height auto
        float left
        text-align center
        box-sizing border-box
        font-size 20px
        display flex
        justify-content center
        align-items center
        margin 10px
        cursor pointer
        user-select none

        .text
            pointer-events none
            padding-left 10px
            padding-right 10px

        .protocol
            pointer-events none
            padding 5px
            font-size 15px
            font-weight 800
            float right
            text-transform uppercase
            color $pink
            border 1px solid $pink

        &.selected
            background-color $white
            color $black
            .protocol
                background-color $pink
                color $white

#buttons
    button 
        height 60px
        border none 
        background none
        width 25%
        font-size 20px
        transition color 0.1s, background-color 0.1s
        box-sizing border-box
        color $white

        &:focus
            outline 0

        &:hover
            background-color $white
            color $black

.invisible
    display none