<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Malus</title>
    <link rel="stylesheet" href="style.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <div id="title-bar">
        <img src="malus.png"/> <span>Malus</span>
        <div id="tb-exit" @click="window.close()">
            <span></span>
            <span></span>
        </div>
        <div id="tb-max" @click="window.isMaximized() ? window.unmaximize() : window.maximize()">
            <span></span>
        </div>
        <div id="tb-min" @click="window.minimize()">
            <span></span>
        </div>
    </div>
</head>
<body>

    <div id="main">
        <div id="nav">
            <div id="btn-add" @click="adding = true">
                <span></span>
            </div>

            <div id="btn-refresh" @click="!refreshing ? refresh() : ''">
                <span></span>
            </div>

            <div id="btn-save" v-show="changeLength > 0" @click="save()">
                <span></span>
            </div>
        </div>

        <div id="ports">
            <div v-for="host in Object.keys(ports)" :key="host">
                <h2 class="host">{{ host }}</h2>
                <div class="ports-wrapper">
                    <div v-for="port in ports[host]" class="port">
                        <input :value="port" type="number" @keyup="event => edit({event,host,port})"
                        /><button class="remove" @click="remove({host,port})"><span></span></button>
                    </div>
                </div>
            </div>
        </div>


        <div id="add" :style="{display: adding ? 'flex' : 'none'}">
            <div class="box">
                <input id="port" placeholder="Port number.."/>
                <button id="add-port"><span></span></button>
                <button class="cancel" @click="cancel()"><span></span></button>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>