@import 'https://fonts.googleapis.com/css?family=Quicksand|Raleway|Major+Mono+Display';
* {
  margin: 0;
  padding: 0;
  font-family: 'Major Mono Display', sans-serif;
  letter-spacing: 1px;
  text-transform: lowercase;
}
body,
html {
  background-color: #232326;
  height: 100%;
  color: #f5f5f5;
}
::selection {
  background-color: rgba(255,91,170,0.1);
  color: #ff5baa;
}
#main {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-top: 30px;
}
input,
button {
  outline: none;
  border: none;
  background: none;
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  padding: 20px;
  color: #f5f5f5;
  background-color: transparent;
}
#add {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
  justify-content: center;
  align-items: center;
  display: none;
}
#add .box {
  padding: 0;
  box-sizing: border-box;
  width: 500px;
  display: block;
  text-align: left;
  padding-top: 40px;
}
#add .box button {
  display: inline-block;
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  padding: 0;
}
#add .box button span {
  background-size: 100%;
}
#add .box #add-port span {
  background-image: url("icons/accept.svg");
}
#add .box .cancel span {
  background-image: url("icons/cancel.svg");
}
#add .box input {
  background-color: #fff;
  color: #19191b;
}
#nav {
  width: 200px;
  pointer-events: none;
  position: absolute;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  top: 0;
  right: 0;
  padding: 0 20px 20px 0;
  box-sizing: border-box;
}
#nav > div,
.controls > div,
button {
  background-color: #ff5baa;
  display: inline-block;
  pointer-events: all;
  width: 45px;
  height: 45px;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 50px;
  transition: filter 0.1s;
  color: #000;
}
#nav > div span,
.controls > div span,
button span {
  width: 45px;
  pointer-events: none;
  height: 45px;
  filter: invert(100%);
  background-size: auto 55%;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}
#nav > div:hover,
.controls > div:hover,
button:hover {
  background-color: #06e7ff;
}
#btn-add span {
  background-image: url("icons/file+.svg");
}
#btn-remove span {
  background-image: url("icons/trash.svg");
}
#btn-edit span {
  background-image: url("icons/write.svg");
}
#btn-refresh span {
  background-image: url("icons/refresh.svg");
}
#btn-save span {
  background-image: url("icons/save.svg");
}
#ports {
  width: 100vw;
  padding: 2.5em;
  box-sizing: border-box;
  max-height: calc(100vh - 30px);
  overflow-y: auto;
  overflow-x: hidden;
}
#ports > div {
  margin-bottom: 3em;
}
#ports > div:last-child {
  margin-bottom: 0;
}
#ports .ports-wrapper {
  display: flex;
}
#ports .host {
  margin-bottom: 10px;
  font-weight: 200;
}
#ports .port {
  padding-right: 10px;
  padding-bottom: 10px;
  width: auto;
  display: flex;
}
#ports .port:hover button {
  opacity: 1;
}
#ports .port button {
  border-radius: 0;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  margin-left: -20px;
  opacity: 0;
  user-select: none;
}
#ports .port button:focus {
  opacity: 1;
}
#ports .port button span {
  width: 100%;
  height: 100%;
  background-image: url("icons/trash.svg");
  background-size: 70%;
  image-rendering: crisp-edges;
}
#ports .port,
#ports input {
  font-weight: 200;
}
#ports input {
  font-size: 1.2em;
  width: 5.5em;
  color: rgba(245,245,245,0.9);
  background-color: #19191b;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}
#ports input:focus {
  border-bottom: 2px solid #ff5baa;
}
#ports input[type=number]::-webkit-inner-spin-button,
#ports input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #19191b;
}
::-webkit-scrollbar-thumb {
  background-color: #ff5baa;
}
#title-bar {
  height: 30px;
  -webkit-app-region: drag;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  text-align: center;
}
#title-bar img {
  height: 15px;
  padding: 7.5px;
  float: left;
}
#title-bar span {
  float: left;
  line-height: 30px;
  font-family: "Major Mono Display";
  font-size: 14px;
  letter-spacing: 1.5px;
  font-weight: 200;
}
#title-bar div {
  width: 40px;
  height: 30px;
  box-sizing: border-box;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  -webkit-app-region: no-drag;
}
#title-bar div span {
  display: inline-block;
  position: absolute;
  height: 15px;
  pointer-events: none;
  width: 1px;
  background-color: rgba(245,245,245,0.8);
}
#title-bar div:hover {
  background: #f5f5f5;
}
#title-bar div:hover span {
  background-color: rgba(25,25,27,0.8);
}
#title-bar #tb-exit span {
  transform: rotate(45deg);
  width: 1px;
  background-color: #f5f5f5;
  height: 15px;
}
#title-bar #tb-exit span:nth-of-type(1) {
  transform: rotate(-45deg);
}
#title-bar #tb-exit:hover {
  background: #ff5baa;
}
#title-bar #tb-max span {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid rgba(245,245,245,0.8);
}
#title-bar #tb-max:hover span {
  border: 1px solid rgba(25,25,27,0.8);
}
#title-bar #tb-min span {
  transform: rotate(90deg);
}
