#add
    position absolute
    z-index 1
    width 100vw
    height calc(100vh - 30px)
    margin-top 30px
    top 0
    left 0
    background-color alpha(black,0.2)
    justify-content center
    align-items center
    display none

    .box
        padding 0
        box-sizing border-box
        width 500px
        display block
        text-align left
        padding-top 40px
        max-width 90vw

        button
            display inline-block
            box-sizing border-box
            margin-left 0
            margin-right 10px
            margin-top 10px
            display flex
            justify-content center
            align-items center
            float left
            padding 0

            &::after
                background-size 100%


        #add-port::after
            background-image url("icons/accept.svg")

        .cancel::after
            background-image url("icons/cancel.svg")

        input
            background-color white
            color $black