#nav 
    width 200px
    pointer-events none
    position absolute
    height 100vh
    display flex
    justify-content flex-end
    align-items flex-end
    flex-direction column
    top 0
    right 0
    padding 0 20px 20px 0
    box-sizing border-box
    
#nav > div, .controls > div, button
    background-color $pink
    display inline-block
    pointer-events all
    width 45px
    height 45px
    cursor pointer
    margin-top 5px
    border-radius 50px
    transition filter 0.1s
    color black

    &::after
        width 45px
        pointer-events none
        height 45px
        filter invert(100%)
        background-size auto 55%
        background-position center center
        background-repeat no-repeat
        display block
        content ''

    &:hover
        background-color $cyan

#btn-add::after
    background-image url("icons/file+.svg")

#btn-remove::after
    background-image url("icons/trash.svg")

#btn-edit::after
    background-image url("icons/write.svg")

#btn-refresh::after
    background-image url("icons/refresh.svg")

#btn-save::after
    background-image url("icons/save.svg")

#loading
    background-color transparent !important
    pointer-events none
    filter invert(100%)
    opacity 0.6
    &::after
        background-image url("icons/load.svg")