#title-bar
    height 30px
    -webkit-app-region drag
    margin-left 4px
    position fixed
    top 0
    right 0
    width calc(100vw - 4px)
    text-align center

    img 
        height 15px
        padding 7.5px 7.5px 7.5px 3.5px 
        float left

    #title
        float left
        line-height 30px
        font-family "Major Mono Display"
        font-size 14px
        letter-spacing 1.5px
        font-weight 200

    #tb-resize
        position fixed
        left 0
        display block
        top 0
        height 4px
        width calc(100vw - 120px)
        -webkit-app-region no-drag

    div
        width 40px
        height 30px
        box-sizing border-box
        float right
        display flex
        align-items center
        justify-content center
        pointer-events auto
        -webkit-app-region no-drag
        position relative

        span 
            display inline-block
            position absolute
            height 15px
            pointer-events none
            width 1px
            background-color alpha($white,0.8)

        &:hover
            background $white
            & span
                background-color alpha($black,0.8)

    #tb-exit span
        transform rotate(45deg)
        width 1px
        background-color $white
        height 15px
        &:nth-of-type(1)
            transform rotate(-45deg)

    #tb-exit:hover
        background $pink

    #tb-max span
        width 10px
        height 10px
        background-color transparent
        border 1px solid alpha($white,0.8)

    #tb-max:hover
        & span
            border 1px solid alpha($black,0.8)
    
    #tb-min span 
        transform rotate(90deg)